[Unit]
Description=Camera Preview
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/raspivid -t 0 -f --mode 5 -ex sports -fps 49 -w 1296 -h 730 --flush
Restart=on-failure

[Install]
WantedBy=multi-user.target